.inside-input {
    position: absolute;
    top: 12px;
    left: 65px;
    font-size: 20px;
    color: #cccccc;
}
.daterange-input {
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #cccccc;
    text-align: center;
}
.date-cross {
    position: absolute;
    right: 70px;
    top: 10px;
    cursor: pointer;
}
.button-div {
    position: absolute;
    bottom: 0;
    right: -85.5px;
    width: 112.1%;
    background-color: #fff;
}
.button-div button {
    float: right;
    margin: 10px;
    margin-right: 30px;
    background: orange;
    width: 108px;
    border-radius: 20px;
    padding: 2px;
    color: #fff;
}
#dateModal .modal-content {
    background-color: transparent
}

.orderlist-head {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.order-list {
    border: 1px solid gray;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
}
.user-tab {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
.order-card {
    text-align: left;
    margin-top: 15px;
}
.card-head {
    padding: 5px !important;
    background-color: #9acd32a6;
    color: #000;
    font-size: 14px;
}
.bold {
    font-weight: bold;
    margin-left: 10px;
}
.r-stages{
    margin-bottom: 10px !important;
}
.r-stage1 {
    padding: 5px !important;
    border-right: 5px solid #fff !important;
}
.r-stage2 {
    padding: 5px !important;
    border-right: 5px solid #fff !important;
}
.r-stage3 {
    padding: 5px !important;
    border-right: 5px solid #fff !important;
}
.r-stage4 {
    padding: 5px !important;
    border-right: 5px solid #fff !important;
}
.item-box {
    font-size: 14px;
    margin-bottom: 10px;
    box-shadow: 0 0 3px #776868;
    padding: 5px;
    border-radius: 5px;
}
.r-bottom {
    margin-top: -15px;
}
.ing {
    padding: 2px;
    border: 1px solid;
    border-radius: 5px;
}
.pagination-view {
    display: flex;
    align-items: center;
    justify-content: center;
}
.refund-btn {
    font-size: 14px;
    background-color: #999b9e;
    color: #fff;
    border-radius: 5px;
    border: 0px;
}
.ref-active {
    background-color: yellowgreen !important;
}
.head-cols {
    display: flex;
    justify-content: center;
    align-items: center
}
.discount-type-select {
    width: 30%;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    background-color: coral;
    text-align: center;
    font-weight: bold;
}

.discount-value-select {
  width: 40%;
  height: 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  padding-left: 12%;
}
.manager-login-div {
  margin: 10px;
    text-align: left;
    font-size: 14px;
}
.auth-button {
  margin-top: 15px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightcoral;
  background-color: darkorange;
  color: #fff;
}
.auth-input {
  padding: 5px;
    width: 100%;
    border: 1px solid #d1dfe0;
    border-radius: 5px;
}
.error-text {
  margin: 10px;
  text-align: center;
  padding: 5px;
  background-color: coral;
  color: #fff;
}
.success-text {
  margin: 10px;
  text-align: center;
  padding: 5px;
  background-color: #28a745;
  color: #fff;
}
@media (max-width: 767px) {
    .r-bottom {
        margin-top: 0px;
    }
}