.businessProfileBanner{
    width: 100% !important
}
.time-modal {
    font-size: 16px;
    color: gray
}

.time-row {
    /* border-bottom: 1px solid black */
}

.closed {
  color: #f00c
}
.show-time {
    color: orangered !important;
    cursor: pointer;
}

/* .banner-container{
    border: 1px solid #c8baba;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -25px;
} */
.store-edit-banner-button {
  cursor: pointer;
    border: 1px #8a999b solid;
    height: 35px;
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #17d2e6;
}
#edit_store_banner, #edit_offer_banner {
  height: 35px;
  width: 100%;
  margin-top: 212px !important;
  position: absolute !important;
  cursor: pointer;
}
.save-image-btn {
  margin-top: 20px;
  width: 100%;
  background-color: orangered;
  height: 50px;
  border-radius: 10px;
  color: #fff;
}
.full-width {
  width: 100%
}
.details {
  margin-top: 20px;
}

.open {
  background-color: transparent !important;
}

.setings {
  color: #fff !important;
}
/* 
@@@@@@ Social media post CSS @@@@@@

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.post_type_div {
  width: 100%;
  padding: 15px;
  overflow: hidden;
}

.top_detail {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.singleProfile {
  padding: 10px;
  background-color: hsla(0, 16%, 96%, .27);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-bottom: 20px !important;
}

.photo {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  float: left;
}

.photo img {
  max-width: 100%;
  height: 35px;
  width: 35px;
}

.name-add-time {
  float: left;
}

.name-add-time h4 {
  color: #494e4e;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}

.name-add-time p {
  margin: 0;
  color: gray;
  font-size: 14px;
  line-height: 18px;
}

.post_detail {
  margin: 0;
  padding: 0;
}

.postedinfacebook {
  float: right;
}

.postedinfacebook a {
  color: #9c9b9a;
  text-decoration: none;
  font-size: 14px;
}

.fa-facebook:before {
  color: #3e5c9a;
  margin: 4px;
}

.post_middle_sec {
  width: 100%;
  margin: 5px 0; 
  padding: 0;
}

.post_middle_sec p {
  color: #c7cbcb;
  font-size: 14px;
  line-height: 18px;
}

.post_img img {
  max-height: 250px;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post_reaction_box {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.post_reaction_box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.post_reaction_box ul li {
  margin: 0;
  padding: 0 4px;
  float: left;
}

.reactions {
  font-size: 14px;
  text-align: right;
  margin: 5px;
}

.reaction-icon img {
  height: 30px;
  margin: 3px;
  transition: 0.5s ease-in-out;
}

.reaction-icon img:hover {
  transform: scale(1.1);
}
.body-content {
  /* height: 255px;
  overflow-x: hidden;
  overflow-y: scroll */
}
.heading {
  padding: 15px;
  border-bottom: 1px solid gray;
  font-size: 18px;
  color: gray;
  background: #097ef999;
  color: #fff;
  box-shadow: 0 0 5px 0px black;
}
.event-image {
  max-height: 200px;
}
.event-icon {
  margin-right: 5px;
}
.footer-details {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: gray;
}
.footer-details p {
  margin: 0;
  padding: 0
}

.games {
  cursor: pointer;
}
.no-events {
  text-align: center;
  font-size: 20px;
  padding: 15%;
}

.footer-container {
  background-color: #097ef999;
  padding: 10px;
  color: #fff;
  margin-top: 20px;
  min-height: 150px;
}
.right-menu {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer
}

/* Add item css */
.item-ingredients {
  margin: 20px;
}

.plus-btn {
  color: orange;
  font-size: 20px;
  cursor: pointer;
}

.ingredients-container {
  border: 1px solid #bbb3b3;
  height: 10px;
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  min-height: 100px;
  height: auto
}
.ingredient-item {
  margin-bottom: 5px;
}
.input-amount input {
  width: 90%;
  margin-top: 5px; 
  border-radius: 23px;
  margin-bottom: 15px;
  padding: 5px;
}
.input-label {
  margin-top: 10px;
}
.input-unit select {
  width: 80%;
  margin-top: 5px;
  border-radius: 23px; 
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
  border: 1px solid gray;
}
/* =============================================================================
  Responsive Part
========================================================================== */
@media (min-width: 1281px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 768px) and (max-width: 1024px) {
  .reaction-icon img {
    height: 16px;
    margin: 1px;
  }
  
  .reactions {
    font-size: 12px;
    text-align: right;
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .post_detail {
      display: none;
  }
  .setings {
    color: #000 !important;
  }

}