.page-container {
    width: 75%;
    /* padding-left: 20px; */
}
.heading-text {
    padding-left: 20px
}

.content {
    padding-left: 20px;
}
.editor-box {
    padding: 15px;
    box-shadow: 0 0 6px #867f7f;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden
}

.editor-box input {
    padding-left: 10px;
    margin-bottom: 5px;
}
.editor-box label {
    font-size: 13px
}

.editor-box input[type=submit] {
    background-color: #4cabdf;
    color: #fff;
    width: 30%;
    margin-top: 10px
}

.add-testimonial {
    margin-top: 20px
}
.testimonial-list {
    border: 1px solid lightgray;
    padding: 5px;
    margin-top: 15px;
    overflow: hidden
}

.btnText-input {
    margin-top: 10%
}

.image-upload {
  opacity: 1 !important;
  height: auto !important;
}
.table-overflow {
    overflow-y: scroll
}

.search-btn {
    background: #57c5e9;
    border: 1px solid;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}
.zip-entry {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}
.result-box {
  height: 400px;
  overflow-y: scroll;
  margin: 10px;
}
.monitor-btn {
    background-color: #316fa1;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.message-list {
    padding: 10px;
    text-align: left;
    box-shadow: 0 0 1px 0px black;
    border-radius: 5px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .page-container {
        width: 100%;
        /* padding-left: 20px; */
    }
  }