/* Css styles created by Uday */

.businessProfileBanner{
  width: 100% !important;
}

  .active-step {
    opacity: 1 !important;
  }

  .step {
      opacity: 0.2;
      cursor: pointer;
  }

  .step-details {
    padding-left: 75 !important;
    padding-top: 5 !important;
  }

  .hiden-form {
    display: none;
  }

  .checkbox-details-text {
      padding-left: 40px;
    }

   .info-text {
     color: cornflowerblue;
     margin-left: 10px;
   }

   .business-banner-upload {
     position: relative;
     width: 100%;
     height: 35px;
     background: #000000;
     margin-bottom: 20px;
     border-radius: 15px;
   }
   .upload-text {
    color: #fff;
    font-size: 18px;
    position: absolute;
    text-align: center;
    padding-left: 27%;
    top: 10%;
   }

   .banner-upload {
     padding: 20;
   }

   #banner_image {
       align-self: center;
   }

   input[type="file"] {
    position: relative !important;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
    height: 200px; }

  .form select {
    border: 1px solid #cdd4d4;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    font-size: 14px;
    color: #000000;
    width: 100%;
    padding: 0 58px 0 25px; }

.form input[type='number'] {
    border: 1px solid #cdd4d4;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    font-size: 14px;
    color: #000000;
    width: 100%;
    padding: 0 58px 0 25px; }
    
.form textarea {
    border: 1px solid #cdd4d4;
    height: 110px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    font-size: 14px;
    color: #000000;
    /* width: 100%; */
    padding: 10px 25px;
    /* resize: none; */
    vertical-align: top; }

.rc-time-picker-clear {
    display: none !important;
    z-index: -123;
    pointer-events: none !important;
}
.rc-time-picker {
  width: 100% !important;
}

.choose-times{
  border: 1px solid gray;
  border-radius: 10px;
  /* padding: 10px; */
}
.timing-head {
  padding: 5px;
  border-bottom: 1px solid gray;
  background-color: rgb(238, 105, 16);
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.day-column {
  padding-left: 21px;
  border-right: 1px solid rgb(238, 105, 16);
}

.adjust-time-row {
  margin-right: 0px;
  margin-top: 5px;
}
#timepickerDays {
  height: 30px;
  padding: 10px;
  text-align: center;
}

.a-day {
  padding-top: 8px;
  padding-bottom: 8px;
  /* border-bottom: 1px solid gray; */
  width: 100%
}

.a-time{
  padding-top: 5px;
}

.open {
  font-size: 9px;
  background-color: green;
}

.center-text {
  text-align: center
}
.promotion-banner {
   border: 1px solid gray;
  height: 35px;
  background-color: #2ab5ae;
  color: #fff;
  text-align: center
 /* position: relative; */
}
.promotion-banner-img {
  border: 1px solid gray;
  height: 250px;
  padding-bottom: 35px;
}
.business-banner-img {
  border: 1px solid gray;
  height: 200px;
  padding-bottom: 35px;
  margin-bottom: 20px;
}

#promo_image{
  height: 35px;
  width: 100%;
}

.upload-banner-text{
  color: '#000';
  text-align: center;
  font-size: 20px;
  position: absolute;
  margin-left: -14%;
}

.upload-banner-text-store {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.space-above {
  padding-top: 30px;
}
#banner_image1{
  height: 36px;
  width: 100%;
  margin-top: -27px;
}
.info-text {
  color: lightseagreen;
  font-size: 16px;
}
._loading_overlay_overlay {
  position: fixed !important;
}

.closed-day {
  height: 30px !important;
  margin-top: 10px;
  background-color: #ff1b00;
  color: #fff !important;
  width: 96% !important;
}
.red {
  color: red
}
.disable_day {
  background-color: red;
  pointer-events: none;
  opacity: 0.2;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

Above css is for step signup form                   @

Below css is for create sub users                   @

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */



.breadcumb-icon {
  font-size: 25px;
  color: gray
}

.breadcumb-text {
  font-size: 18px;
  border-left: 1px solid gray;
  margin-left: 5px;
}

.left-space{
  margin-left: 10px;
}

.container-inside{
  padding: 10px;
  text-align: center
}
.privilage-text {
  text-align: left;
  margin: 10px;
  font-size: 16px;
  text-decoration: underline;
}
.privilage-info-text {
  margin-top: 25px;
  text-align: left;
  font-size: 14px;
}
.err {
  color:red
}
.left {
  float: left
}
.right {
  float: right
}
.add-btn {
  padding: 12px;
  border-radius: 35px;
  background-color: #ff6400;
  color: #ffffff;
  width: 100%;
}

.link {
  cursor: pointer;
}
.modal-title {
  font-size: 16px;
}
.modal-view{
  padding-top: 5%;
}
.modal-body {
  margin: 10px
}
.custom-loader{
  padding: 20px;
  color: #ffffff
}
.loader-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: transparent;
}

.loader-body {
  border-radius: 20px;
  position: relative;
  height: 120px;
  width: 120px;
  background-color: #2ab5ae;
  padding: 30px;
  margin-top: 160px;
  box-shadow: 0 0 80px 9px #03a7ff;
  border: 2px solid #1ea09a;
}

.loader-fill {
  background-color: #9af8ff !important
}

.loader-no-fill {
  background-color: transparent !important
}
.loader-text{
  color: #ffffff
}
.empty-body {
  height: 160px;
  width: 65%;
  text-align: center;
  margin-top: 16%;
}
.empty-text {
  color: #fff;
  padding: 10px;
  background-color: #2ab5ae;
  border-radius: 15px;
}
.search-btn {
  margin-top: 5px !important;
}
.gap {
  margin-left: 5px;
}
.search-input{
  padding: 10px !important;
  padding-right: 40px !important
}
.top-fix {
  margin-top: 0px !important;
}
.input-clear {
  position: absolute;
  left: 80%;
  top: 35%;
  cursor: pointer;
}
.pagination-active {
  padding: 5px;
  background: #2ab5ae;
}
.pagination-active-link {
  color: #fff !important;
}
.pagination-item {
  padding: 5px;
  border: 1px solid #2ab5ae;
}
.pagination-link-class {
  padding: 5px !important;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

Event management part

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.date-picker {
  padding: 10px;
  border: 2px solid #d3d9d9;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.left {
  float: left;
}
.top-box {
  margin-top: 10px !important;
}
.event-banner {
  height: 200px;
  /* width: 100%; */
  border: 1px solid gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -20px;
  margin-bottom: 35px;
}
.event-banner img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.banner-container {
  /* padding-bottom: 25px; */
  padding-top: 10px;
}

#event_banner {
  height: 35px !important;
  top: -28px !important;
  width: 100%;
}
.event-banner-button{
  border: 1px solid gray;
  height: 35px;
  background-color: #2ab5ae;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.add-more-btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #ff6400;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.remove-btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #ff2323f2;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

#weekly_timepicker {
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 15px;
}

.label-small {
  color: lightseagreen;
  font-size: 14px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .gap-bottom {
    margin-bottom: 20px !important;
  }
}

@media only screen and (min-width: 600px) {
  .gap-bottom {
    margin-top: 20px;
  }
}

.no-permission {
  text-align: center;
  padding-top: 15%
}
.error-banner {
  padding: 45px;
  background: #ec2b2be6;
  margin-left: 20%;
  margin-right: 20%;
  color: #fff;
  border-radius: 14px;
  font-size: 25px;
}

.member-container {
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.member-column {
  border-right: 1px solid;
  padding-left: 0px;
  padding-right: 0px;
}

.member-column-div {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
}

.member-column-last {
  padding-left: 0px;
  padding-right: 0px;
}

.no-border {
  border-right: 0px solid;
}

.member-header-free {
  color: #fff;
  background-color: #1ea09a;
  padding: 10px;
  border-top-left-radius: 10px;
}

.member-header-silver {
  color: #fff;
  background-color: #7269B4;
  padding: 10px;
}

.member-header-gold {
  color: #fff;
  background-color: #c8c139;
  padding: 10px;
  border-top-right-radius: 10px;
}

.small-input {
  margin-bottom: 10px;
}

.image-style {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px; 
  width: 100%
}

.small-input input[type="text"] {
  height: 30px;
  padding: 10px;
}

.content-container {
  width: 75%;
  padding: 10px;
}


.small-select {
  height: 30px !important;
  padding: 2px !important;
  text-align: center !important;
}

.small-label {
  font-size: 14px;
}

.member-label {
  padding-top: 10px;
}

.disabled-member-field {
  background-color: #00000078;
  pointer-events: none;
  border-radius: 10px;
  padding-bottom: 5px;
  opacity: 0.5;
  display: none;
}
.member-price {
  font-size: 12px;
}

/* RESPONSIVE PART OF UI */

@media (min-width: 1281px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-container{
    width: 75%;
  }
}

@media (max-width: 767px) {
  .content-container{
    width: 100%;
  }  
}