/* Css styles created by Uday */


  .active-step {
    opacity: 1 !important;
  }

  .step {
      opacity: 0.2;
      cursor: pointer;
  }

  .step-details {
    padding-left: 75 !important;
    padding-top: 5 !important;
  }

  .hiden-form {
    display: none;
  }

  .checkbox-details-text {
      padding-left: 40px;
    }

   .info-text {
     color: cornflowerblue
   }

   .business-banner-upload {
     position: relative;
     width: 100%;
     height: 35px;
     background: #000000;
     margin-bottom: 20px;
     border-radius: 15px;
   }
   .upload-text {
    color: #fff;
    font-size: 18px;
    position: absolute;
    text-align: center;
    padding-left: 27%;
    top: 10%;
   }

   .banner-upload {
     padding: 20;
   }

   #banner_image {
       align-self: center;
   }

   input[type="file"] {
    position: relative !important;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
    height: 200px; }

  .form select {
    border: 1px solid #cdd4d4;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    font-size: 14px;
    color: #000000;
    width: 100%;
    padding: 0 58px 0 25px; }

.form input[type='number'] {
    border: 1px solid #cdd4d4;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    font-size: 14px;
    color: #000000;
    width: 100%;
    padding: 0 58px 0 25px; }
    
.form textarea {
    border: 1px solid #cdd4d4;
    height: 110px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    font-size: 14px;
    color: #000000;
    /* width: 100%; */
    padding: 10px 25px;
    /* resize: none; */
    vertical-align: top; }

.rc-time-picker-clear {
    display: none !important;
    z-index: -123;
    pointer-events: none !important;
}

.choose-times{
  border: 1px solid gray;
  border-radius: 10px;
  /* padding: 10px; */
}
.timing-head {
  padding: 5px;
  border-bottom: 1px solid gray;
  background-color: rgb(238, 105, 16);
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.day-column {
  padding-left: 21px;
  border-right: 1px solid rgb(238, 105, 16);
}

.adjust-time-row {
  margin-right: 0px;
}
#timepickerDays {
  height: 30px;
  padding: 10px;
  text-align: center;
}

.a-day {
  padding-top: 8px;
  padding-bottom: 8px;
  /* border-bottom: 1px solid gray; */
  width: 100%
}

.a-time{
  padding-top: 5px;
}

.open {
  font-size: 9px;
  background-color: green;
}

.center-text {
  text-align: center
}
.promotion-banner {
   border: 1px solid gray;
  height: 35px;
  background-color: #2ab5ae;
  color: #fff;
  text-align: center
 /* position: relative; */
}
.promotion-banner-img {
  border: 1px solid gray;
  height: 250px;
  padding-bottom: 35px;
}
.business-banner-img {
  border: 1px solid gray;
  height: 200px;
  padding-bottom: 35px;
  margin-bottom: 20px;
}

#promo_image{
  height: 35px;
  width: 100%;
}

.upload-banner-text{
  color: '#000';
  text-align: center;
  font-size: 20px;
  position: absolute;
  margin-left: -14%;
}

.upload-banner-text-store {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.space-above {
  padding-top: 30px;
}
#banner_image1{
  height: 36px;
  width: 100%;
  margin-top: -27px;
}
.info-text {
  color: lightseagreen;
  font-size: 16px;
}
._loading_overlay_overlay {
  position: fixed !important;
}

.closed-day {
  height: 30px !important;
  margin-top: 10px;
  background-color: #ff1b00;
  color: #fff !important;
  width: 96% !important;
}
.red {
  color: red
}
.disable_day {
  background-color: red;
  pointer-events: none;
  opacity: 0.2;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

Above css is for step signup form                   @

Below css is for create sub users                   @

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */



.breadcumb-icon {
  font-size: 25px;
  color: gray
}

.breadcumb-text {
  font-size: 18px;
  border-left: 1px solid gray;
  margin-left: 5px;
}

.left-space{
  margin-left: 10px;
}

.container-inside{
  padding: 10px;
  text-align: center
}
.privilage-text {
  text-align: left;
  margin: 10px;
  font-size: 16px;
  text-decoration: underline;
}
.privilage-info-text {
  margin-top: 25px;
}
.err {
  color:red
}
.left {
  float: left
}
.right {
  float: right
}
.add-btn {
  padding: 10px;
  border-radius: 20px;
  background-color: orangered;
  color: #ffffff
}

.link {
  cursor: pointer;
}
.modal-title {
  font-size: 16px;
}
.modal-view{
  padding-top: 5%;
}
.modal-body {
  margin: 10px
}