.price-div {
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
}
.available {
    color: green
}
.book-event {
    margin-top: 30px;
    border-radius: 20px;
    padding: 5px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.already-booked {
    margin: 15px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}
.bokking-done {
    margin: 15px;
    background-color: lightblue;
    border-radius: 10px;
}
.free-event-btn {
    background-color:
    #47baff;
    color:
    #fff;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
}

.card {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: linen;
    font-size: 14px;
    margin-bottom: 10px;
}
.facebook-share {
    padding: 5;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.trans-fee {
    font-size: 12px;
}