.key-input {
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid darkgray;
}

.key-input-btn {
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #ec5148cc;
    border: 1px solid darkgray;
    width: 15%;
    color: #fff;
}
.key-form {
    margin-top: 10%
}

.key-done {
    margin-top: 10px;
    color: green;
}
.steps {
    font-size: 20px;
    font-weight: bold;
    color: #4eaee2;
    text-decoration: underline;
}
.step-1 {
    text-align: left
}
.stripe-create {
    padding: 5px;
    background-color: #5cd2e7;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}
.bank-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkgray;
}
.input-div {
    margin-top: 15px;
}
.account-id {
    font-weight: bold;
    font-size: 18px;
    color: green
}