
.cart-page-container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
}

.cart-container {
    padding: 10px;
    border: 1px solid #0003;
    border-radius: 5px;
    text-align: center
}
.line {
    height: 2px;
    background: #928686;
    margin-top: 5px;
    margin-bottom: 10px;
}
.product-row {
    margin-top: 20px;
    margin-bottom: 20px;    
    font-size: 14px;   
    background: #6bb1fb4d;    
    width: 100%;
    align-items: center;
    margin-left: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.cart-header {
    font-weight: bold
}

.cart-item-title {
    text-align: left
}
.item-description {
    font-size: 12px;
}
.cart-empty {
    margin: 100px;
    font-size: 18px;
    font-weight: bold;
}
.cart-total-container {
    border: 1px solid #0003;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.cart-total-head {
    margin-bottom: 20px;
    font-size: 20px;
}
.left-amount {
 text-align: left;
 margin-left: 20px;
 margin-top: 5px;
 font-size: 16px;
}
.place-order {
    width: 100%;
    margin-top: 50px;
    padding: 5px;
    background: #fa460f;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.back-to-menu {
    padding: 1px;
    border-radius: 5px;
    border: 1;
    color: #fff;
    background-color: #fa460f
}

.order-placed {
    color: green;
    margin-top: 15%;
}
.cart-modify {
margin-bottom: 5px;
}
.cart-remove {
    /* display: inline-block;
    width: 50%; */
}
.ingredient-select {
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    padding-top: 2px;
    padding-bottom: 2px;
}
.add-ingredient {
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #ee4412;
    color: #fff;
}
.my-address {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}
.deliver-btn {
  text-align: center;
  padding: 5px;
  background-color: #ee4412;
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-address {
    width: 70% !important;
    background-color: darkgrey !important;
    text-align: center;
    padding: 5px;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input-wrapper {
    width: 100%
}
.input-wrapper input, textarea {
    width: 100%;
}
.label-small {
    margin-bottom: 0 !important;
}

/* Promotion css */

.promotion-container {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.pcode-row {

}
.payment-view {
    text-align: center;
    justify-content: center;
    align-items: center
}
.payment-price {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: green;
}
.promocode {
    border: 1px dashed green;
    font-weight: bold
}
.applied {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}
.birthday-banner-container {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.birthday-head {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize
}
.birthday-sub {
    font-size: 14px;
    margin-bottom: 5px;
    color: green;
}

@media (max-width: 767px) {
    .cart-page-container {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
    }
    
    .cart-total-container {
        border: 1px solid #0003;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin-top: 20px;
    }

}